.banner {
    background: url(../../img/Rectangle.png);
    color: #fff;
    padding: 117px 0;
    min-height: 363px;
    position: relative;
    margin-top: 65px;
}

.banner__img {
    position: absolute;
    width: 487px;
    height: 341px;
    right: 424px;
    bottom: 0;
}

.banner__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    max-width: 595px;
    z-index: 1;
    position: relative;
}

