.footer {
  padding-bottom: 58px;
}
.footer-container {
  height: 146px;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 43px;
}

.contacts__freecall {
  color: #9a9a9a;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.socials {
  position: absolute;
  right: 300px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
}
