.services__list {
    padding: 50px 0;
}

.services__item {
    display: flex;
    padding-top: 50px;
}

.services__img {
    border-radius: 5px;
    width: 460px;
    height: 333px;
    margin-right: 65px; 
}

.services__content {
    flex: 1;
}

.services__title {
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin-bottom: 30px;
    padding-top: 10px;
}

.services__text {
    line-height: 169%;
    margin-bottom: 35px;
}


.services__button {
    padding: 18px 30px;
    text-align: center;
    margin-top: auto;
    background: #fff;
    color: #f5170e;
    border: 1px solid #f5170e;
}

.services__button:hover {
    background: #f5170e;
    color: #fff;
    opacity: 1;
}
