.partners {
    background-color: #f4f5f5;
    padding: 105px 0;
    margin-top: 85px;
}

.partners__title {
    font-weight: 700;
    font-size: 48px;
    color: #1a1b1e;
    margin-bottom: 75px;
}

/* .partners__img {

} */

.partners__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.partners__list:last-child {
    margin-bottom: 0;
}

.partners__link {
    text-decoration: none;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);    
}
