.welcome {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(../../img/bg_hello.png) center no-repeat;
}

.welcome__shades {
    background: url(../../img/shades.png);
    width: 591px;
    height: 248px;
    position: relative;
    top: 193px;
    left: 9px;
}

.welcome__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: zoom .9s ease-in forwards;
}

@keyframes zoom {
    from {
        transform: scale(.7);
    }

    20% {
        transform: scale(1.15);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.welcome__text {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 65px;
}

.welcome__button {
    text-align: center;
}
