.partners {
    background-color: #f4f5f5;
    padding: 100px 0;
    margin-top: 95px;
}

.partners__title {
    font-weight: 700;
    font-size: 48px;
    color: #1a1b1e;
    margin-bottom: 75px;
}

/* .partners__img {

} */

.partners__list {
    display: flex;
    flex-wrap: wrap;
}
.partners__link {
    text-decoration: none;
    display: flex;
    width: 285px;
    height: 95px;
    align-items: center;
    justify-content: flex-start;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);    
}
